@import 'colors';
@import '../components/Nav/index';
@import '../components/Clock/index';
@import '../components/TrainRouteSelector/index';
@import '../components/TrainRoute/index';

body {
  background-color: $blue;
}

#app {
  width: 100%;
}

.content {
  color: #fff;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}




