@import 'colors';
@import '../components/Nav/Nav';
@import '../components/Clock/Clock';
@import '../components/TrainRouteSelector/TrainRouteSelector';
@import '../components/TrainRouteButton/TrainRouteButton';
@import '../components/TrainRoute/TrainRoute';

body {
  background-color: $blue;
}

#app {
  width: 100%;
}

.content {
  color: #fff;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}



