@import 'colors';
@import '../components/Nav/Nav';
@import '../components/TrainRouteSelector/TrainRouteSelector';
@import '../components/TrainRouteButton/TrainRouteButton';

#app {
  background-color: $blue;
  width: 100%;
  height: 100vh;
}

.content {
  color: #fff;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}



